@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-ExtralightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-Black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('https://static.snapchat.com/accounts/_next/static/media/Graphik-BlackItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}
